name: Build APK
on: [push, workflow_dispatch]

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      
      - uses: actions/setup-python@v4
        with:
          python-version: '3.11'
          
      - run: pip install flet
      
      - uses: subosito/flutter-action@v2
        with:
          flutter-version: '3.19.0'
          
      - run: flet build apk --verbose
      
      - uses: actions/upload-artifact@v3
        with:
          name: 1AzkarApp-APK
          path: build/app/outputs/flutter-apk/app-release.apk
